%h3.titulo01  FASE
.fields
  = f.hidden_field :_destroy
  %table.sglea
    %tr
      %td.tit Nombre
      %td.tit
      %td.inp= f.text_field :nombre , {:size => 60}
      %td.tit Detalle
      %td.inp= f.text_field :detalle, {:size => 60}
      %td.inp= link_to_remove_fields "Eliminar", f if not form_disabled

%h3.titulo01  ARCHIVOS
.field
  = f.fields_for :archivos do |builder|
    = render 'archivo_fields', :f => builder, :form_disabled => form_disabled
= link_to_add_fields "Agregar Archivo", f, :archivos if not form_disabled
%br/
%br/
	
%h3.titulo01  ACTIVIDADES
.field
  = f.fields_for :actividads do |builder|
    = render 'actividad_fields', :f => builder, :form_disabled => form_disabled
= link_to_add_fields "Agregar Actividad", f, :actividads if not form_disabled
%br/
%br/	
