%p
#photolayer{:style => "z-index: 1; left: 5px; top: 50px; width: 100; \r\nheight: 25px; background-color:#E6CBCB; visibility: visible"}
  %center
    %h1= f.object.nombre
%p
.fields
  = f.hidden_field :_destroy
  %table.sglea
    %tr
      %td.tit Nombre
      %td.inp= f.text_field :nombre , {:size => 60}
      %td.tit Detalle
      %td.inp= f.text_field :detalle, {:size => 60}
      %td.inp= link_to_remove_fields "Eliminar", f if not form_disabled

%h3.titulo01  ARCHIVOS
.field
  = f.fields_for :documentos do |builder|
    = render 'form_document_fields', :f => builder, :form_disabled => form_disabled
- if current_user.roles.map(&:nombre).join(',').to_s["Analista"] == "Analista" && f.object.nombre == "Fase An치lisis"
  = link_to_add_fields "Agregar Archivo", f, :documentos if not form_disabled
- if current_user.roles.map(&:nombre).join(',').to_s["Analista"] == "Analista" && f.object.nombre == "Fase Dise침o"
  = link_to_add_fields "Agregar Archivo", f, :documentos if not form_disabled
- if current_user.roles.map(&:nombre).join(',').to_s["Tester"] == "Tester" && f.object.nombre == "Fase Ejecuci칩n"
  = link_to_add_fields "Agregar Archivo", f, :documentos if not form_disabled
- if current_user.roles.map(&:nombre).join(',').to_s["Tester"] == "Tester" && f.object.nombre == "Cierre"
  = link_to_add_fields "Agregar Archivo", f, :documentos if not form_disabled
- if f.object.nombre == "Aceptaci칩n (opcional)"
  = link_to_add_fields "Agregar Archivo", f, :documentos if not form_disabled
%br/
%br/











 	
%h3.titulo01  ACTIVIDADES DE FASE
.field
  = f.fields_for :actividads do |builder|
    = render 'actividad_fields', :f => builder, :form_disabled => form_disabled
= link_to_add_fields "Agregar Actividad", f, :actividads if not form_disabled
%br/
%br/	
