.fields
  = f.hidden_field :_destroy
  %table.sglea
    %tr
    - if f.object.archivo_file_name.nil?
      %td.tit Adjuntar Archivo
      %td.inp=f.file_field :archivo
    -else
      %td.tit Adjuntar Archivo
      %td.inp= link_to image_tag("descargar.png"), f.object.archivo.url
    %td.tit Detalle
    %td.inp= f.text_field :detalle
    %td.tit Estado
    - if !f.object.valida && !f.object.rechaza
      %td.inp NO VALIDADO
    - elsif f.object.valida && !f.object.rechaza
      %td.inp VALIDADO
    - else
      %td.inp RECHAZADO
    %td.tit Comentario
    - if current_user.roles.map(&:nombre).join(', ').to_s["Usuario"] == "Usuario"
      %td.inp{:width => "15%"}= f.text_field :comentario
    - else
      %td.inp{:width => "15%"}= f.object.comentario
    %td.inp= link_to_remove_fields "Eliminar", f if not form_disabled