- if @proyecto.errors.any?
  #error_explanation
    %h2 #{@proyecto.errors.count} errores impiden ingresar el proyecto:
    %ul
      - @proyecto.errors.full_messages.each do |msg|
        %li= msg

%h2.titulo01 PROYECTO

<div id="progressbar"></div>
=text_field_tag("porcentaje", value = nil, options = {:size => 3, :disabled => true})
=f.hidden_field :porcentaje
=f.hidden_field :id
\%
%br/
%br/
%table.sglea
  %tr
    %td.tit Nombre
    %td.inp= f.text_field :nombre
    %td.tit Ambiente
    %td.inp= manten f, :ambiente, Mantenedor.ambientes, 'Seleccione Ambiente'
  %tr 
    %td.tit Fecha Inicio
    %td.inp= f.text_field :fechainicio
    :javascript
      $('#proyecto_fechainicio').datetimepicker({
        timeText: 'Tiempo',
        hourText: 'hora',
        minuteText: 'min',
        stepMinute: 1,
        currentText: 'Fecha y hora actual'
      });
    %td.tit Fecha Termino
    %td.inp= f.text_field :fechatermino
    :javascript
      $('#proyecto_fechatermino').datetimepicker({
        timeText: 'Tiempo',
        hourText: 'hora',
        minuteText: 'min',
        stepMinute: 1,
        currentText: 'Fecha y hora actual'
      });
  

.field
  = f.fields_for :fases do |builder|
    = render 'fase_fields', :f => builder, :form_disabled => form_disabled
= link_to_add_fields "Agregar Fase", f, :fases if not form_disabled

%table.sglea
  %tr
    %td.tit Usuarios
    %td.inp
      - for user in User.all
        %p

          = check_box_tag "proyecto[user_ids][]", user.id, @proyecto.users.include?(user), { :id => "proyecto_user_ids_" + user.id.to_s }
          %label{:for => "proyecto_user_ids_#{user.id}"}= user.nombre + " (" +user.roles.map(&:nombre).join(', ') +")"

%h2 Historial del Proyecto
%table.sglea.datos
  %tr
    %td.titg Fecha
    %td.titg Usuario
    %td.titg Acción
  - @proyecto.historias.each do |h|
    %tr
      %td= h.created_at.strftime('%Y-%m-%d %H:%M')
      %td= h.user
      %td= h.action

:javascript
  recalcular();




	
