= form_for(@fase) do |f|
  - if @fase.errors.any?
    #error_explanation
      %h2
        = pluralize(@fase.errors.count, "error")
        no permiten generar esta nueva Fase
      %ul
        - @fase.errors.full_messages.each do |msg|
          %li= msg
  %table.sglea
    %tr
      %td.tit Nombre
      %td.inp= f.text_field :nombre
    %tr
      %td.tit Detalle
      %td.inp= f.text_field :detalle
    %tr 
      %td= f.submit

