<h1>Listing fases</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fases.each do |fase| %>
  <tr>
    <td><%= fase.nombre %></td>
    <td><%= fase.detalle %></td>
    <td><%= link_to 'Show', fase %></td>
    <td><%= link_to 'Edit', edit_fase_path(fase) %></td>
    <td><%= link_to 'Destroy', fase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fase', new_fase_path %>
