<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @fase.nombre %>
</p>

<p>
  <b>Detalle:</b>
  <%= @fase.detalle %>
</p>


<%= link_to 'Edit', edit_fase_path(@fase) %> |
<%= link_to 'Back', fases_path %>
